body {
  margin: 0;
  padding: 0;
  background-color: #8fbc8f;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
table {
  width: 600 px;
  margin: auto;
  background-color: #8fbc8f;
  border-collapse: collapse;
  border: 2px solid black;
}

.header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;

  background-color: #8fbc8f;
  color: white;
}

img {
  padding: 10px;
  border: 3px solid green;
  width: 180px;
  height: 150px;
}

td {
  padding: 10px;
  border: 1.5px solid black;
  text-align: center;
  vertical-align: middle;
}

.image {
  background-color: #98fb98;
}

.list {
  background-color: #98fb98;
  text-align: left;
}

ul {
  padding-left: 20px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: red;
}

.caption {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #8fbc8f;
  color: white;
  caption-side: bottom;
}

#head {
  font-weight: bold;
  background-color: #98fb98;
}
